supervisor
notebook
jupyterlab>=3.0.0
jupyterhub
ipywidgets
ipympl
numpy
scipy
pandas
numexpr
tables
matplotlib
seaborn
sympy
cython
patsy
statsmodels
cloudpickle
dill
dask
numba
protobuf
xlrd
requests
poetry
